h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.8rem;
}

h6 {
    font-size: 0.7rem;
}

p,
p.card-text {
    text-align: left;
    font-size: 20px;
    line-height: 2;
    margin: 28px 0;

}

.navbar-dark,
.jumbotron,
#portfolio,
#contact,
footer {
    background-color: black;
    color: white;
    font: 500 100%/1.5 system-ui
}



.nav-item:hover {
    background-color: red;
    color: white;
}

.navbar,
.navbardark li a {
    color: white;
    text-align: center;
    padding: 14px 16px;

}

.social-icons i {
    margin: 0px 13px;
    color: white;

}

i.skills-icons {
    margin: 0px 13px;
    color: red;
}

i.skills-icons:hover {
    color: black;
}

a:hover,
.fa-github:hover,
.fa-linkedin:hover {
    color: red;
}


a:link,
a:visited {
    color: white;
}

.btn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: 0 none;
    border-radius: 0;
    font-weight: 700;
}

.btn:hover {
    background-color: white;
    color: black;
    box-shadow: 5px 10px;

}

#herosection,
#aboutme,
#portfolio,
#skills,
#contact {
    margin-top: 2rem;
    padding: 2rem 4rem;

}

#herosection {
    background-color: black;
    margin-top: -3rem;
}